body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: rgb(238, 234, 233);
}

h1 {
  font-family: "Roboto", sans-serif;
  padding: 20px 30px;
}

button {
  display: block;
  margin: 0 auto;
  background: green;
  color: #ffff;
  border-style: solid;
  border-radius: 30px;
  padding: 20px;
}

a {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.page-header {
  position: relative;
  top: 5x;
  left: 20px;
  color: rgb(59, 114, 181);
}

.search {
  position: absolute;
  top: 40px;
  right: 80px;
  padding: 5px 10px;
}

.search-bar {
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
  padding: 5px 10px;
  background: rgb(238, 234, 233);
}

.search-city {
  border-radius: 4px;
  border-style: solid;
  border-width: thin;
}

.container {
  display: block;
  margin: 120px auto;
}

.current-city {
  position: relative;
  text-align: left;
  font-size: 38px;
}

.current-date-time {
  position: relative;
  text-align: left;
  font-size: 32px;
}

.current-temperature {
  position: relative;
  text-align: left;
  font-size: 400%;
  line-height: 2;
}

.current-humidity {
  position: relative;
  text-align: left;
  font-size: 90%;
}

.current-Windspeed {
  position: relative;
  text-align: left;
  font-size: 90%;
}

.current-description {
  position: relative;
  text-align: left;
  font-size: 90%;
  line-height: 1;
}

.units {
  font-size: 100%;
  vertical-align: top;
}

.heading-fiveday {
  margin-bottom: 0;
}

.row-fiveday-forecast {
  position: absolute;
  text-align: center;
  border: solid;
  border-width: thin;
  margin: 0px;
  font-size: 20px;
  padding: 60px;
  border-radius: 4px;
}

.page-footer {
  position: sticky;
  text-align: center;
  top: 100vh;
  font-size: 12px;
}
